@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-darkgreen-50: #f0fdf4;
  --color-darkgreen-100: #dcfce7;
  --color-darkgreen-200: #bbf7d0;
  --color-darkgreen-300: #86efac;
  --color-darkgreen-400: #4ade80;
  --color-darkgreen-500: #1e6b4e;  /* Your custom dark darkgreen */
  --color-darkgreen-600: #1b5a41;
  --color-darkgreen-700: #184935;
  --color-darkgreen-800: #153829;
  --color-darkgreen-900: #12271e;
  --color-darkgreen-950: #0a1611;
  --color-green-50: #ecf8f3;
  --color-green-100: #d3f3c3;
  --color-green-200: #b8e6ce;
  --color-green-300: #96d8c4;
  --color-green-400: #5ec4a5;
  --color-green-500: #34c759; /* Your custom green */
  --color-green-600: #2a9d4e;
  --color-green-700: #1e854c;
  --color-green-800: #118a62;
  --color-green-900: #0c6a4f;
  --color-green-950: #0a3f3d;
}